@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<OutcomeDto>
         
<h2>Quản lý chi</h2>
<div>
    <div style="padding:10px">
        @Html.ActionLink("Thêm", "AddOutcome", null, new { @class = "btn btn-success" })
    </div>

    <table class="table table-bordered table-striped table-hover">
        <tr>
            <th>
                Outcome Date
            </th>
            <th>
                Outcome Name
            </th>
            <th>
                Action
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.OutcomeDate
                </td>
                <td>
                    @item.OutcomeName
                </td>
                <td>
                    <div class="form-inline" role="form">
                        <div class=" form-group">
                            @Html.ActionLink("Xem", "Detail", new { id = @item.Id }, new { @class = "btn btn-info" })
                            @Html.ActionLink("Sửa", "Edit", new { id = @item.Id }, new { @class = "btn btn-primary" })

                        </div>
                    </div>
                </td>
            </tr>
        }
    </table>
</div>

