@model IncomeDto
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>
<style>
    .hidden {
        display: none;
    }
</style>
 

    <form id="frmIncome" method="post">
        @Html.ValidationSummary(true)
        @Html.Hidden("IncomeId", Model.Id)
        <div class="form-group">
            Income Name<br />
            <h4> @Html.TextBox("IncomeName", Model.Name, new { @id = "IncomeName" })</h4>

        </div>
        <div class="form-group">
            Income Date<br />
            <h4> @string.Format("{0:dd/MM/yyyy}", Model.IncomeDate)</h4>

        </div>

        <div style="margin-bottom: 10px">
            <input id="btnAddLineUp" type="button" value="Thêm income" class="btn btn-primary btn-lg" />
        </div>
        @Html.Hidden("LineupID", 0, new { @class = "lineupid" })
        <table class="table table-bordered table-condensed table-striped">
            <thead>
                <tr>
                    <th>Notes</th>
                    <th>Asset</th>
                    <th>Customer</th>
                </tr>
            </thead>
            <tbody id="lineUpBody">
                <tr id="newLineUp" class="hidden">
                    
                    <td>@Html.TextBox("Note", 0, new { @class = "form-control notes" })</td>
                    <td>@Html.TextBox("Asset", 0, new { @class = "form-control assets" })</td>
                    <td>
                        @Html.DropDownList("Customer", LookupViewModel.GetCustomerList(), new { @class = "form-control customers" })
                    </td>
                </tr>

                @if( Model.LineUp!=null && Model.LineUp.Any())
                { 
                    foreach (var item in Model.LineUp)
                    {
                         @Html.Hidden("LineupID", @item.Id, new {@class="lineupid" })
                        <tr class="incomeLineUp">
                            <td>@Html.TextBox("Notes", @item.Notes, new { @class = "form-control notes" })</td>
                            <td>@Html.TextBox("Assets", @item.Asset, new { @class = "form-control assets" })</td>
                            <td>
                                @Html.DropDownList("Customer", LookupViewModel.GetCustomerList(@item.CustomerId.ToString()), new { @class = "form-control customers" })
                            </td>
                        </tr>
                    }
                }
                else

                {
                      <tr class="incomeLineUp">
                            <td colspan="3"> No Line-Up found </td>
                           
                        </tr>
                }
            </tbody>
        </table>

        <input id="btnEdit" value="Sửa" class="btn btn-primary btn-lg" />
    </form>
    



<script type="text/javascript">
        $(function () {
            var clone = $('#newLineUp');
            $(".datepicker").datepicker();
            $('.assets').autoNumeric('init', { aSign: ' VND', pSign: 's', wEmpty: 'zero', aPad: false });
            $('#btnAddLineUp').click(function () {
                var lineUpBody = $('#lineUpBody');
                var newLineUp = $('#newLineUp');
                var clone = newLineUp.clone();
                clone.removeClass("hidden");
                lineUpBody.append(clone);
                $('.assets').autoNumeric('init', { aSign: ' VND', pSign: 's', wEmpty: 'zero', aPad: false });
            });

            $('#btnEdit').click(function () {
                var noteValues = "";
                var notes = $('.notes');
                var assets = $('.assets');
                var customers = $('.customers');
                var lineupid = $('.lineupid');
                var assetValues = "";
                var customerValues = "";
                var lineupValues = "";
                notes.each(function () {
                    noteValues += $(this).val() + ";";
                });
                assets.each(function () {
                    assetValues += $(this).autoNumeric('get') + ";";
                });
                customers.each(function () {
                    customerValues += $(this).val() + ";";
                });
                lineupid.each(function () {
                    lineupValues += $(this).val() + ";";
                });
                var frm = $('#frmIncome');
                console.info(noteValues);
                console.info(assetValues);
                console.info(customerValues);
                if (frm.valid())
                {
                    $.post('@Url.Action("Edit", "Income")', {
                        incomeID:$("#IncomeId").val(),
                        incomeName: $('#IncomeName').val(),
                        assets: assetValues,
                        notes: noteValues,
                        customerId: customerValues,
                        lineupId:lineupValues
                    }, function (data) {

                        if (data.success)
                        {
                            var back = '@Url.Action("Index","Income")';
                            window.location.href = back;
                        }
                        else {
                            alert("fail");
                        }
                    });
                }


            });


        });
</script>

